= simple_form_for(@project) do |f| 
  - if @project.errors.any? 
    %div#error_explanation
      %h2
        = pluralize(@project.errors.count, "error") 
        prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg 
  
  %div.field
    = f.input :name
    = f.association :client
    = f.input :amount
    = f.input :start_date
    = f.input :end_date
  
  %div.actions
    = f.submit