- source = "àâçèéêîôùû"
- dest= "aaceeeiouu"
.span-10#bandeau_gauche     
  = form_tag articles_path, :method => :get do
    %fieldset
      %legend Nom et Description
      = text_field_tag :q, params[:q], :id => nil, :placeholder => "Rechercher un article ...", :size => 64
      = submit_tag "Filtrer"
      
    %fieldset
      %legend Distributeur
      - @distributeurs.each do |distri|
        %label1
          = check_box_tag 'distributeur', distri, params[:distributeur] && params[:distributeur].include?(distri)
          = distri

         
  
    
    - [:general, :forme, :couleur, :matiere, :dimension].each do |scope|
      - if @tags[scope] && @tags[scope].any?
        %fieldset
          %legend= scope.to_s
          %ul
            - @tags[scope].each do |tag|
              %label1
                = check_box_tag 'tags[]', tag.id, params[:tags] && params[:tags].include?(tag.id.to_s)
                = tag.name

    %fieldset
      %legend Fabricants
      - @fabricants.each do |fab|
        %label1
          = check_box_tag 'fabricant', fab, params[:fabricant] && params[:fabricant].include?(fab)
          = fab
      
  

.span-12#bandeau_droit       
  %p
    = "#{@articles.total_entries} article(s) trouvé(s) :"
    %p
    - if @articles.total_entries > 0
      - ecart = @articles.last.prix_unitaire - @articles.first.prix_unitaire
      = "Ecart de prix entre min et max : #{number_to_currency(ecart, :unit => "€")} "
    %p
    Cliquer sur 
    = image_tag("similar.png", :style => "vertical-align: middle")
    pour voir les articles comparables

  %hr
     
  #articles
  - i = 0
  - for article in @articles

    - if article.id == @similar
      - couleur_box = "background-color:#FCFFAF; border: thin solid red; "
    - else
      - couleur_box = "background-color:#E5ECF9" 

    .box{:style => couleur_box}
      = form_tag tagify_path(article.id) , :remote => true do |f|
      
        = link_to h(article.id), article
        

        %span
          = article.code_article
          - params = article.general_list.join(" ").tr(source, dest)
          Articles similaires
          = link_to image_tag("similar.png", :style => "vertical-align: middle"),  {:action => "index", :controller => "articles", :q => params, :similar => article.id }

        %div{:style => "width:100px; position: relative; left: 320px; top:-20px;"}
          .tag-triangle
          .hole
          .tag-rectangle
            %h1
              = "€ " + article.prix_unitaire.to_s 


        %h2
        %span.titre
          Fabricant: 
        %span
          = article.fabricant 
        %span.titre
          Description:
        %span
          =  article.excerpts.description.html_safe
        %h2
        %span.titre
          Information complémentaire:
        %span
          = article.excerpts.description_etendue.html_safe
        %h1
        %a{:class => "afficher"} Afficher/Masquer les tags
        .hidden_box{:style => "display:none;"}
          %h3
          %hr
          %span.titre2
            Général:
          %span.tags
            = text_field_tag 'tag_general'
            = article.general_list
          %h2
          %span.titre2
            Couleur:
          %span.tags
            = text_field_tag 'tag_couleur'  
            = article.couleur_list
          %h2
          %span.titre2
            Matière:
          %span.tags
            = text_field_tag 'tag_matiere'  
            = article.matiere_list
          %h2
          %span.titre2
            Dimension:
          %span.tags
            = text_field_tag 'tag_dimension'    
            = article.dimension_list
          %p
          = submit_tag "tagguer"
