.span-10#bandeau_gauche     
  = form_tag articles_path, :method => :get do
    %fieldset
      %legend Nom et Description
      = text_field_tag :q, params[:q], :id => nil, :placeholder => "Rechercher un article ...", :size => 64
      = submit_tag "Filtrer"
  
    
    - [:general, :forme, :couleur, :matiere, :dimension].each do |scope|
      - if @tags[scope] && @tags[scope].any?
        %fieldset
          %legend= scope.to_s
          %ul
            - @tags[scope].each do |tag|
              %label1
                = check_box_tag 'tags[]', tag.id, params[:tags] && params[:tags].include?(tag.id.to_s)
                = tag.name

    %fieldset
      %legend Fabricants
      - @fabricants.each do |fab|
        %label1
          = check_box_tag 'fabricant', fab, params[:fabricant] && params[:fabricant].include?(fab)
          = fab
      
  

.span-12#bandeau_droit       
  %p
    = "#{@articles.total_entries} article(s) trouvé(s) :"

  %hr
  Les 3 article(s) trouvé(s) les moins chers:"
    
  #articles
  - i = 0
  - for article in @articles
    - i += 1
    - if i <= 3
      .box
        = form_tag tagify_path(article.id) , :remote => true do |f|
        
          = link_to h(article.id), article
          = text_field_tag 'tag'
        
  
          %span
            = article.code_article
          = submit_tag "tagguer"


          %div{:style => "width:100px; position: relative; left: 320px; top:-20px;"}
            .tag-triangle
            .hole
            .tag-rectangle
              %h1
                = "€ " + article.prix_unitaire.to_s 


          %h2
          %span.titre
            Fabricant: 
          %span
            = article.fabricant 
          %span.titre
            Description:
          %span
            = article.description
          %h2
          %span.titre
            Information complémentaire:
          %span
            = article.description_etendue
          %h2
          %span.titre
            Général:
          %span.tags
            = article.general_list
          %h2
          %span.titre
            Couleur:
          %span.tags
            = article.couleur_list
          %h2
          %span.titre
            Matière:
          %span.tags
            = article.matiere_list
          %h2
          %span.titre
            Dimension:
          %span.tags
            = article.dimension_list
    - else
      .box
        %span
          = article.code_article
        %span.titre
          Fabricant: 
        %span
          = article.fabricant
        %span.titre
          Prix unitaire: 
        %div{:style => "width:100px; position: relative; left: 320px; top:-20px;"}
          .tag-triangle-red
          .hole
          .tag-rectangle-red
            %h1
              = "€ " + article.prix_unitaire.to_s
    

