<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @ingredient.nom %>
</p>

<p>
  <b>Quantite:</b>
  <%= @ingredient.quantite %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
