<h1>Listing recettes</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
    <th>Categorie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recettes.each do |recette| %>
  <tr>
    <td><%= recette.titre %></td>
    <td><%= recette.description %></td>
    <td><%= recette.categorie %></td>
    <td><%= link_to 'Show', recette %></td>
    <td><%= link_to 'Edit', edit_recette_path(recette) %></td>
    <td><%= link_to 'Destroy', recette, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recette', new_recette_path %>
